/*----------------------*/
/*Layout*/
/*----------------------*/


body {
  background: #051145;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff,
}

h1 {
  font-size: 1.3em;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
}


.container {
  background-image: url('https://wallpaperaccess.com/full/99840.jpg');
  background-size: cover;
  height: 100vh;
  justify-items: center;
  grid-gap: .5em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: grid;
  /*grid-auto-rows: minmax(150px, auto);*/
  /* grid-template-columns:  */
  grid-template-columns: 1fr;
  grid-template-rows: 100px 150px 320px auto;
  grid-template-areas:
    "head"
    "zip"
    "feelings"
    "results";

}


/*--------------*/
/*Header*/
/*--------------*/

.headline {
  margin: 10px 0 0 0;
  grid-area: head;
  font-family: Faster One;
  background: -webkit-linear-gradient(rgb(24, 113, 169), #4749c1, #060612);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: #0170a8;*/

}


/*----------------------*/
/*Main Content*/
/*-----------------------*/



#entryHolder {
  grid-area: results;
  color: #ffffff;
  width: 300px;
  font-size: 1.2em;
}

#date {
  align-items: center;
  padding-top: 10px;
}

#temp {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

#description {
  text-align: center;
  padding-top: 10px;
}

#content {
  word-wrap: break-word;
  width: 300px;
  text-align: center;
  padding: 10px 0 20px 0;
}

#entryTitle {
  text-align: center;
  color: #ffffff
}



/*-----------------*/
/*Styling*/
/*-----------------*/


label {
  display: block;
  text-align: center;
  font-size: 1.1em;
  color: #031d50;
  margin-bottom: 10px;

}

input {
  grid-area: zip;
  display: block;
  text-align: center;
  height: 60px;
  width: 300px;
  background: linear-gradient(#111a45, #1c5271);
  color: #ffffff;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  display: block;
  margin-left: 70px;
  width: 175px;
  height: 60px;
  background: linear-gradient(#1cb5e0, #000046);
  color: #ffffff;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 1px 2px 3px rgb(39, 20, 52);
  margin-top: 2rem;
}

button:hover {
  background: rgb(101, 47, 137);
}


textarea {
  grid-area: feelings;
  height: 150px;
  width: 300px;
  background: linear-gradient(#111a45, #1c5271);
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 8px rgb(23, 61, 115);
}

/* Reset style for HTML element on active to have no border*/
input:focus {
  box-shadow: 2px 4px 8px rgb(39, 20, 52);
}

textarea:focus {
  box-shadow: 2px 4px 8px rgb(39, 20, 52);
}

button:focus {
  box-shadow: 6px 8px 12px rgb(39, 20, 52);

}



/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}


/*------------------------------*/
/* larger screens*/
/*------------------------------*/

@media(min-width:650px) {
  .container {
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 400px auto;
  }

  .headline {
    margin: 20px 0 0 0;
  }

  input {
    height: 60px;
    width: 320px;
    font-size: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  textarea {
    width: 400px;
  }

  button {
    width: 200px;
    height: 80px;
    margin-left: 110px;
  }

  label {
    font-size: 1.3em;
  }

}