body {
  background: #3b4a6b;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff,
}

.container {
  background-image: url('https://wallpaperaccess.com/full/99840.jpg');
  background-size: cover;
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  height: 100vh;
  justify-items: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;

}

.headline {
  height: 125px;
  font-family: Pacifico;
  color: #0170a8;
}


.holder {}

.entry {}


#entryHolder {
  color: #ffffff;
  width: 300px;
}

#date {
  align-items: center;

}

#temp {
  align-items: center;

  text-align: center;
}

#description {
  text-align: center;

}

#content {
  border: 5px, solid, blue;
  word-wrap: break-word;
  width: 300px;
  text-align: center;
}

.headline {}

#entryTitle {

  text-align: center;
  color: #ffffff
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  text-align: center;
  font-size: 27px;
}

input {
  display: block;
  text-align: center;
  height: 60px;
  width: 320px;
  background: linear-gradient(#111a45, #1c5271);
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  display: block;
  margin-left: 80px;

  width: 250px;
  height: 80px;
  /*background: #22b2da;*/
  background: linear-gradient(#4f125d, #8e4484);
  /*color: #f8d615;*/
  color: #ffffff;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 1px 2px 3px rgb(39, 20, 52);
  margin-top: 2rem;
}

h1 {
  font-size: 36px;
}

textarea {
  background: linear-gradient(#111a45, #1c5271);
  color: #ffffff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 1px 2px 3px rgb(23, 61, 115);

}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;


}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-family: 'Oswald', sans-serif;

}